<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Footballers</title>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
        .tg .tg-4eph{background-color:#f9f9f9}
    </style>
</head>
<body>

<h2>List of Footballers</h2>
<table class="tg">
    <tr>
        <th width="80">ID</th>
        <th width="120">First Name</th>
        <th width="120">Surname</th>
        <th width="120">Club</th>
        <th width="120">Shirt No</th>
        <th width="60">Edit</th>
        <th width="60">Delete</th>
    </tr>

#foreach ( $player in $players )
        <tr>
            <td>$player.id</td>
            <td>$player.first_name</td>
            <td>$player.surname</td>
            <td>$player.club</td>
            <td>$player.shirtno</td>
            <td><a href="/edit?id=$player.id" >Edit</a></td>
            <td><a href="/remove?id=$player.id" >Delete</a></td>
        </tr>
#end
</table>



<h4>Add a new player</h4>
<form method="POST" command="form">

    <p>

        First Name: #springFormInput("form.first_name")
        </br>#springBind("form.first_name")#springShowErrors("<br/>", "text-danger")

        </br>

        Surname: #springFormInput("form.surname")
        </br>#springBind("form.surname")#springShowErrors("<br/>", "text-danger")
        </br>

        Club: #springFormInput("form.club")
        </br>#springBind("form.club")#springShowErrors("<br/>", "text-danger")
        </br>

        Shirt Number: #springFormInput("form.shirtno")
        </br> #springBind("form.shirtno")#springShowErrors("<br/>", "text-danger")
        </br>

        <input type="submit"/>

    </p>

</form>
</body>
</html>